ul.page {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #552583;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: #fdb927 solid 5px;
    margin-bottom: 10px;
    border-radius: 40px;
}

li.page {
    float: left;
    border-right: 1px solid #552583;
}

li.page a {
    display: block;
    color: rgb(214, 213, 213);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li.page a:hover {
    color: white;
}

.active {
    color: rgb(218, 218, 202);
    margin-top: 10px;
}

.logo:hover {
    background-color: #552583;
}

.logo {
    border-radius: 7px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.nav {
    margin-top: 10px;
}

.white {
    background-color: #fdb927;
    color: #552583;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
}

.Lebron {
    margin: 40px;
    width: 300px;
    height: 219px;
    border: #fdb927 5px solid;
    border-radius: 35px;
}

.Player {
    border: #fdb927 solid 10px;
    border-radius: 35px;
    background-color: #552583;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

th {
    color: white;
    text-align: left;
    font-weight: bold;
}

.Name {
    font-size: 35px;
}

.StatsName {
    float: right;
    margin: 50px;
    padding: 15px;
}

td {
    text-align: center;
    border: #eee1c6 1px solid;
    color: white;
    padding: 8px;
    font-size: 15px;
}

.PersonalInfo {
    width: 100%;
    border-collapse: collapse;
}

.LogoTeam {
    background-color: #fdb927;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Teams {
    height: 200px;
    border-radius: 40px;
    margin: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

#Cavs {}

#Heat {
    background-color: ;
    border: ;
}

#Lakers {
    background-color: #fdb927;
    border: solid 10px #552583;
    margin-left: 200px;
}

.Awards {
    color: #fdb927;
    background-color: #552583;
    list-style-type: circle;
    text-align: center;
}

div.Awards {
    width: 800px;
    height: auto;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 10px solid #fdb927;
    border-radius: 37px;
}

.Stats {
    background-color: #552583;
    border: #fdb927 5px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}